.animate-hide {
    -webkit-transition:all linear 0.4s;
    transition:all linear 0.4s;
}

.animate-hide.ng-hide {
    opacity:0;
}

.hidden-submit{
    display: none;
}

/*.header{
    background-color: yellow;
    height: 20ex;
}
.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    height: 10ex;
    padding:1ex; 
}

.contents{
    background-color: gray;
    height: 100%;
    padding: 1ex;
    padding-bottom: 10ex;
}
